body{
    background-color:black;
    color:white;
    margin:0;
    font-family:Cursive;
}

h1{
    color:white;
    text-align:center;
    font-family:Cursive;
    
}
.head-content{
    width:1365px;
    height:auto;
    margin:0 auto;
    background:black;
}
.head{
    width:659px;
    height:auto;
    padding-top:24px;
}

.head-border{
    width:100%;
    height:0;
    border-bottom:1px solid white;

}


.nav{
    height:40px;
    background:blue;
    text-align:center;
}

.nav ul{
    margin:0;
    padding:0;
    text-align:center;
}

.nav a{
    color:black;
}

.nav ul li{
    list-style:none;
}

.nav ul li{
    text-decoration:none;
    display:inline-block;
    padding:10px 20px;
    color:red;
    width:100px;
}

.nav ul li :hover{
    color:white;
    background-color:grey;
}

#info{
    color:green;
    width:70%;
}

.me{
    width:145%;
    border:2px solid red;
    background-color:blue;
}

.heading-me{
    color:green;
    font-family:sans-serif;
    border-bottom: solid yellow ;
}

.hw{
  width:68.5%;
  border:2px solid red;
  background-color:blue;
}

.h-hw{
    width:48.1%;
    color:green;
    font-family:sans-serif;
    border-bottom: solid yellow ;
}

.home{
    width:300px;
    border: 5px ridge white;
    margin-left:7.5%;
}
.mexico-picture{
    border:0px solid;
}
#sports{
    width:300px;
    position:absolute;
    top:40%;
    left:75%;
    border: 6px ridge white;
}
#book{
     width:125px;
     position:absolute;
     top:66.5%;
     left:82%;
}

#mex-food{
     width:300px;
     position:absolute;
     top:96%;
     left:75%;
     border: 6px ridge white;
}
#hacked{background-image:url(http://files.hackernino.webnode.com.br/200000010-55ff956f9c/tumblr_lkmvmnI3Pf1qec8uno1_500.gif);
}
#computer{
     width:245px;
     position:absolute;
     top:59%;
     left:75%;
}

#hardware{
    width:210px;
    position:absolute;
    top:110%;
    left:75%;
    border: 7px ridge grey;

}

#hardware-2{
    width:205px;
    position:absolute;
    top:28.5%;
    left:75%;
    border: 7px ridge grey;
}

#sick{
    background-image:url(https://s-media-cache-ak0.pinimg.com/originals/c6/df/a2/c6dfa22150790c670c988c5196f6ba0e.gif);
    background-size:100%;
}

.heading-CSS{
    color:green;
    font-family:sans-serif;
    border-bottom: solid yellow ;
}
.HTML{
    width:145%;
    border:2px solid red;
    background-color:blue;
}
#mexico-eagle{background-image:url(https://s-media-cache-ak0.pinimg.com/736x/60/5b/fc/605bfc5f9d2f4c70062ba970374bdcb0.jpg);
    background-size:100%;
}